.header {
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
}
.header img {
  width: 50px;
}
.main_flex_1 {
  text-align: center;
}
.main_flex_2 {
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: left;
  }
  .main_flex_1 {
    text-align: left;
    width: 25%;
  }
  .main_flex_1 form input {
    width: 160%;
  }
  .main_flex_2 {
    width: 30%;
    justify-content: space-around;
  }
  .main_flex_3 {
    width: 25%;
  }
}
.list {
  letter-spacing: 0.04em;
  line-height: 40px;
  list-style: none;
  font-size: large;
}
.social {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.social img {
  padding: 7px;
  width: 80%;
}
.social a:nth-child(1) img {
  background: #2079ff;
}
.social a:nth-child(2) img {
  background: rgba(255, 0, 119, 0.993);
}
.social a:nth-child(3) img {
  background: #e60000;
}
.social a:nth-child(4) img {
  background: #007bb5;
}
.Link:hover {
  color: rgba(255, 255, 255, 0.829);
}
