.header {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 500;
}
.main_flex_1 {
  text-align: center;
}
.main_flex_1 form input {
  width: 160%;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 5rem;
  }
  .main_flex_1 {
    text-align: left;
    width: 25%;
  }
  .main_flex_2 {
    width: 30%;
  }
  .main_flex_3 {
    width: 25%;
  }
}
.list {
  letter-spacing: 0.04em;
  line-height: 40px;
  list-style: none;
  font-size: large;
}
.social a:nth-child(1) i {
  background: #3b5998;
  color: white;
}
.social {
  margin-top: 10px;
}
.social i {
  border-radius: 25px;
}
.social a:nth-child(2) i {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
.social a:nth-child(3) i {
  background: #bb0000;
  color: white;
}
.social a:nth-child(4) i {
  background: #007bb5;
  color: white;
}
