.showcase {
  background-color: #212529; /* bootstrap-dark */
  color: #fbfbfb; /* bootstrap-light */
  display: block;
  padding: 1px;
}
.main {
  background-color: #43484d54;
  border-radius: 3px;
}
.header {
  font-size: 2rem;
  line-height: 100%;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 4rem;
    line-height: 100%;
    font-weight: 500;
  }
  .main_flex_1 {
    width: 70%;
  }
  .main_flex_1 p {
    width: 80%;
    font-size: large;
  }
}
.link {
  font-size: 1.25rem;
  border-bottom: 2px solid white;
}
.Link:hover {
  color:rgba(255, 255, 255, 0.76);
}