.WhyChooseUs {
  background-color: #212529;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  background-color: #43484d54;
  border-radius: 3px;
}
.list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .list {
    font-size: large;
  }
}