.team {
  background-color: #212529; /* bootstrap-dark */
  color: #fbfbfb; /* bootstrap-light */
  display: block;
  padding: 1px;
  text-align: center;
}
.header {
  font-size: 2rem;
  line-height: 100%;
  font-weight: bold;
}
.teamCard {
  position: relative;
  background-color: #43484d9d;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 4px;
}
.teamCard p:nth-child(2) {
  color: #00a3ff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}
.lnkdIn {
  background: #2f7bea;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 0px 4px;
  right: 0;
}
.lnkdIn:hover {
  background: #0066ff;
  color: white;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 4rem;
    line-height: 100%;
    font-weight: 500;
  }
  .teamCard {
    width: 360px;
  }
  .teamCard p:nth-child(2) {
    font-size: 1.5rem;
  }
  .lnkdIn {
    font-size: 37px;
    width: 60px;
    height: 60px;
  }
}
